* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    width: 50%;
    align-content: center;
    background-color: lavenderblush;
    border-radius: 20px;
    margin-left: 25%;

    /* display: flex; */
    /* text-align: center; */
    /* display: flex; */
    justify-content: center;

}

.range {
    accent-color: pink;
}

.image-container {
    margin: 30px;
}

.logo {
    border-radius: 20px;
}

.header {
    display: flex;
}

.heading {
    padding: 40px 0px 0px 20px;
}

input[type="text"] {
    width: 70%;
}

input[type="date"] {
    width: 70%;
    margin-left: 43px;
}
/* DOUBT it works with id but not as for as it is element   ....i.e #address ==margin is applied 
but if textarea is used...it doesn't work */
#address {
    width: 70%;
    margin-left: 22px;
}

.form {
    /* border: 10px; */
    padding: 20px;
}

label {
    padding: 10px;
}



.btn {
    background-color: pink;
    border-radius: 10%;
    border-color: aliceblue;
    border-style: solid;
    padding: 5px;
}
.btns{
    border: solid;
    padding: 5px;
    background-color: lavenderblush;
}
#finish {
    background-color: pink;
    border-radius: 10%;
    border-color: aliceblue;
    border-style: solid;
    padding: 5px;
}

P {
    color: pink;
    background: lavenderblush;

}

.sub-container {
    padding: 10px;
    border: solid 2px;
}

.headings {
    color: red;
}
#yt{
    width: 300px;
    padding: 10px;
}